
@{
    ViewBag.Title = "Confirmation Invalid";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Confirmation Invalid</h1>
<p>We were not able to validate this confirmation request. please verify you copied the verification link fully.</p>