
@{
    ViewBag.Title = "Password Reset Successful";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <h1>Successful</h1>
    <p>Your password has successfully been reset.</p>
</div>

