@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc

<div class="row">
    <div class="col-sm-3">
        @Html.Kentico().FormZone()
    </div>
    <div class="col-sm-3">
        @Html.Kentico().FormZone()
    </div>
    <div class="col-sm-3">
        @Html.Kentico().FormZone()
    </div>
    <div class="col-sm-3">
        @Html.Kentico().FormZone()
    </div>
</div>