@model Header
@{
    ViewBag.Title = "Render";
    Layout = Html.LayoutIfEditMode("~/Views/Shared/_layout_NoHeader.cshtml");
}

<div>
    @Html.Kentico().EditableArea("main", allowedWidgets: UserWidgetProvider.GetUserAllowedWidgets())
</div>
